#antiSOPA {
  overflow: auto;
  color: white;
}

.antiSOPA p {
  clear: left;
  text-align: left;
}

.antiSOPA a:link {
  color: #ccc;
}

.antiSOPA a:link:hover {
  color: #fff;
}

.antiSOPA a:visited {
  color: #fff;
}

.antiSOPA a:visited:hover {
  color: #ccc;
}

.antiSOPA .pill {
  padding-left: 35px;
}

.antiSOPA ul {
  float: left;
  margin-left: 0;
  margin-top: 0;
  list-style: none;
}

.antiSOPA li {
  margin-left: 0;
  float: left;
  width: 42%;
}

.antiSOPA .red {
  background: url(/media/video/img/pill-red-small.png) no-repeat;
}

.antiSOPA .blue {
  margin-left: 1em;
  background: url(/media/video/img/pill-blue-small.png) no-repeat;
}

body {
  background-color: white;
  color: black;
  font-family: sans-serif;
  -webkit-font-smoothing: antialiased;
}

p {
  text-align: justify;
  line-height: 1.5em;       
}

p.subtitle {
  margin-top: 0;
  margin-bottom: 1em;
  font-style: italic;
}

li p {
  text-align: left;
  line-height: 1em;
}

div, ul, ol, th, td {
  max-width: 60ex;
}

div, ul, ol  {
  margin-left: auto;
  margin-right: auto;
}

td ul {
  max-width: none;
}

ul, ol {
  padding-left: 0;
}

ul li,
ol li
{
  margin-left: 40px;
  line-height: 1.5em;
}

ul.horizontal {
  float: left;
  margin: 0 0 1em 0;
  list-style: none;
}

ul.horizontal li {
  float: left;
  margin-left: 0;
  margin-right: 0.5em;
}

a:link {
  background-color: transparent;
  color: #00c;
}

a:visited {
  background-color: transparent;
  color: #609;
}

a:link:focus, a:visited:focus,
a:link:hover, a:visited:hover
{
  background-color: transparent;
  color: #090;
}

a[href^="http:"],
a[href^="https:"]
{
  padding-right: 13px;
  background: transparent url(/media/video/img/external.png) no-repeat right center;
}

/* SW-NE arrow */
/*
a[href^="http:"]:after,
a[href^="https:"]:after
{
  content: "\2197";
  font-weight: normal;
}
*/

a[href^="http://PointedEars.de/"],
a[href^="https://PointedEars.de/"]
{
  padding-right: 0;
  background: none;
}

#header {
  margin-top: 5em;
}

#toc {
  position: fixed;
  right: 0;
  top: 0;
  height: 3em;
  /* margin-top: 1em; */
  padding: 0 1em 1em 1em;
  border: 1px solid #666;
  background-color: rgb(255, 255, 255);
  background-color: rgba(255, 255, 255, 0.9);
  overflow: hidden;
  z-index: 1; 
  
  /* See http://www.useit.com/alertbox/mega-dropdown-menus.html */
  -moz-transition: 0.1s height;
  -moz-transition-delay: 0.5s;
  -webkit-transition: 0.5s height;
  -webkit-transition-delay: 0.5s;
  transition: 0.1s height;
  transition-delay: 0.5s;
}

#toc:hover,
#toc:focus,
#toc:target
{
  max-width: 100%;
  height: 23em;
  max-height: 100%;
  -moz-transition: 0.1s height;
  -webkit-transition: 0.5s height;
  transition: 0.1s height;
}

#toc:hover {
  -moz-transition-delay: 0.5s;
  -webkit-transition-delay: 0.5s;
  transition-delay: 0.5s;
}

#toc h2:after {
  display: block;
  float: right;
  content: "\25BC "
}

#toc:hover h2:after {
  content: "\25B2 "
}

.closed {
  text-decoration: line-through;
}

[title],
.footnote-ref,
.footnote-ref :link,
.footnote-ref :visited
{
  border-bottom: 1px dotted #666;
  cursor: help;
}

tr[title], th[title], td[title] {
  border-bottom: none;
}

.footnote-ref .tooltip {
  border-bottom: none;
}

.footnotes {
  width: 100%;
}

.footnotes th {
  text-align: right;
}

a[title] {
  border-bottom: none;
  cursor: pointer;
}

a.backref {
  text-decoration: none;
}

span.section {
  font-size: smaller; 
}

acronym, abbr {
  border-bottom: 1px dotted #666;
}

/* Konqueror 3.5.9 fix */
abbr {
  font-variant: normal;
}

/*
table {
  border-collapse:collapse;
}
*/

tr {
  vertical-align: top;
  vertical-align: baseline;
}

th, td {
  /* moved to not-ns4.css for compatibility */ 
  /* padding: 5px; */
  
  text-align: left;
  font-size: small;
}

th {
  font-weight: bold;
}

.nowrap {
  white-space: nowrap;
}

th.right {
  text-align: right;
}

th *,
td *
{
  font-size: small;
}

sup {
  line-height: 1em;
  font-weight: 500;
}

th sup,
td sup
{
  font-size: smaller;
}

th sup *,
td sup *
{
  font-size: inherit;
}
 
.future {
  border-left:1px dotted black;
}

.assumed {
  font-style: italic;
}

.tested {
  font-weight: bold;
}

.safe {
  background-color: #9f9;
}

.unsafe {
  background-color: #ff6;
}

@media braille, embossed, print, speech, tty {
  span.safe .visual,
  span.unsafe .visual {
    display: none;
  }
  
  span.safe:after {
    content: 'marked with "safe to use"'; 
  }
  
  span.unsafe:after {
    content: 'marked with "unsafe"'; 
  }
  
  tr.safe th:first-child:after {
    content: " (safe to use)";
  }

  tr.unsafe th:first-child:after {
    content: " (unsafe)";
  }
}

thead {
/*
  border-left:1px solid black;
  border-top:1px solid black;
  border-right:1px solid black;
  border-bottom:1px solid gray;
 */
  border: none;
}

thead tr,
tbody tr.header
{
  font-weight: bold;
  background-color: #99f !important;
  color:#000;
}

thead th a:link, thead td a:link {
  background-color: transparent;
  color: #009;
}

thead th a:visited, thead td a:visited {
  background-color: transparent;
  color: #606;
}

thead th a:link:focus,    thead td a:link:focus,
thead th a:visited:focus, thead td a:visited:focus,
thead th a:link:hover,    thead td a:link:hover,
thead th a:visited:hover, thead td a:visited:hover
{
  background-color: transparent;
  color: #fff;
}

/*
tbody {
  border-left:1px solid black;
  border-top:1px solid gray;
  border-right:1px solid black;
  border-bottom:1px solid black;
}
*/

tbody tr {
  background-color: #ccc;
}

tbody tr.safe {
  background-color: #9f9;
}

tbody tr.safe a:link:focus, tbody tr.safe a:visited:focus,
tbody tr.safe a:link:hover, tbody tr.safe a:visited:hover
{
  background-color: transparent;
  color: #060;
}

tbody tr.safe:hover {
  background-color: #dfd;
}

tbody tr:hover {
  background-color: #fff;
}

tbody tr.even
{
  background-color: #ccf;
}

tbody tr:nth-child(even)
{
  background-color: #ccf;
}

tbody tr.even.safe
{
  background-color: #cfc;
}

tbody tr.safe:nth-child(even)
{
  background-color: #cfc;
}

body tr.even.safe:hover
{
  background-color: #dfd;
}

tbody tr.safe:nth-child(even):hover
{
  background-color: #dfd;
}

tbody tr.even:hover
{
  background-color: #fff;
}

tbody tr:nth-child(even):hover
{
  background-color: #fff;
}

tfoot tbody tr,
tfoot tbody tr.even
{
  background-color: inherit;
}

tfoot tbody tr:nth-child(even)
{
  background-color: inherit;
}

#features-table {
  width: 100%;
}

#features-table tbody th {
  font-weight: normal;
}

#features-table tbody tr.header th {
  font-weight: bold;
}

table.results td {
  text-align: right;
} 

/*
 * Not for IE 6 and below.
 * Bugfix for IE 7 follows below.
 */  
table>tbody.scroll {
  border-top: 0;
  border-left-color: gray;
  height: 23em;
  overflow: auto;
  /*
   * In supporting Gecko versions, the scrollbar is displayed within
   * the tbody area, so we disable horizontal scrolling for that ...
   */
  overflow-x: hidden !important;
}

/* Bugfix for IE 7+ */
table>tbody.scroll tr {
  height: auto;
}

table>tbody.scroll tr.header {
  display: none;
}

/*
 * ... and make enough room so that the text won't flow under the
 * vertical scrollbar.  However, that is still a dirty hack as we
 * assume that the vertical scrollbar is not wider than 20px.  
 */ 
table>tbody.scroll td:last-child {
  padding-right: 20px;
}

/* No padding on cells of inner tables, override with !important */
table>tbody.scroll td:last-child td:last-child {
  padding-right: 0;
}

/* keeps background color in line with table design */
table code, 
table span
{
  background-color: transparent !important;
}

span {
  width: auto;
  height: auto;
}

input[readonly] {
  border: none;
  width: 1em;
  background-color: inherit;
  color: inherit;
}

a.add, button.add {
  background-color: inherit !important;
  color: #060 !important;
}

button.add {
  border: none;
  text-decoration: underline;
}

a.edit {
  background-color: inherit !important;
  color: #660 !important;
}

button.negative {
  background-color: #900;
  color: #fff;
}

button.positive {
  background-color: #090;
  color: #fff;
}

button.delete {
  border: none;
  background-color: transparent;
  color: #900;
  text-decoration: underline;
}

button.delete:hover {
  color: #f00;
}

.timeline .blue {
  background-color: #006;
  color: white;
}

#footer {
  margin-top: 1em;
  border-top: 1px solid black;
  padding-top: 1em;
}

#footer, #footer p {
  text-align: center;
}   